.navbar-toggler{
  display: block;
}
@media screen and (min-width: 992px){
.navbar-toggler{
  display: block;
}
}

body{
  transition: transform 1s ease-out;
}

.rounded-pill{
  left:"90% !important"
}